@import "tailwindcss";

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: #0d0c22;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik);
}

h1 {
  font-family: var(--font-mozilla-text);
  font-weight: 700;
}

header p {
  font-weight: 400;
}